<meta name="viewport" content="width=device-width, initial-scale=1">

<%= render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2">

      <%= render "layouts/side_navbar" %>
    </div>

    <div class="col-xl-10" style="width: 1000px; height: 500px; background-color:#4B515D">
      <br><br><br>

      <div class="col-xl-12 py-xl-5" style="background-color:#ffffff ">
        What should be placed in Dashboard
      </div>

      <div class="col-xl-12 my-xl-5 py-xl-5" style="background-color:#ffffff ">
        I truely don't know
      </div>
    </div>
  </div>
</div>
