<body style="background-color:#4B515D">

  <ul class="nav justify-content-end bg-light">

    <li class="nav-item">

      <div class="nav-link active" >
        <%=  link_to 'Login' , controller: "session", action: "new", :class => "btn" %>
      </div>
    </li>

    <li class="nav-item">

      <div class="nav-link active" >
        <%=  link_to 'Sign Up' , controller: "registration", action: "new", :class => "btn" %>
      </div>
    </li>
  </ul>
</body>
