<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial: "layouts/side_navbar", locals: {selected: "cart"} %>
    </div>

    <div class="col-xl-9" style="width: 1000px; background-color:#4B515D">

      <div class="px-xl-5 py-xl-5">


        <div class="row">

          <div class="col-xl-6">

            <div class="py-xl-3">
              <h1>Amount Payable</h1><%= @price %><br><br>
              <h1>Payment Mode</h1>

              <%= button_to "Cash On Delivery", payment_path(id: @payment.id, mode: "cash_on_delivery", status: "pending"), method: 'post', class: "btn", data: { confirm: 'Place Order?' } %>
              <%= link_to "Card Payment", cards_path(id: @payment.id,mode: "card_payment",status: "pending"), class: "btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
