<div class="sidenav vertically-center alert" style="background-color:#4B515D; width: 180px; height: 400px">
  <br><br>

  <li class="row py-xl-2 px-xl-2" style="background-color:#ffffff">
    <%=  link_to 'Dashboard' , dashboard_index_path, class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2">
    <%=  link_to 'Products' , product_index_path, class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2">
    <%=  link_to 'Settings' , setting_index_path , class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2">
    <%=  link_to 'Manage Products' , manage_products_path , class: "btn" %>
  </li>

</div>
